{{define "home"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello, World!</title>

    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/dist/tailwind.css" />
  </head>
  <body>
    <p class="font-bold text-blue text-3xl bg-blue-500">
      Hello, {{.Name}}! Welcome Back
    </p>

    <div id="user-info">
      <button
        hx-get="/api/v1/get-info"
        hx-target="#user-info"
        hx-swap="innerHTML"
        class
      >
        Reveal Info
      </button>
    </div>
  </body>
</html>
{{end}}
